
header {
    display: flex;
    width: 100%;
    background-color: var(--a);
    padding: 1rem;
    position: relative; 
    justify-content: center;
}

.menu-materias {
    width: 15%;
    display: inline-block;
}

.botao-materias {
    cursor: pointer;
    font-size: 20px;
    background: none;
    background-color: var(--b);
    border: none;
    border-radius: 5px;
    padding: 15px 12px;
    color: black;
}

.menu button {
    text-decoration: none;
    background-color: #CDC1FF;
    color: black;
    font-size: 18px 8px;
    padding: 5px 10px;
    margin: 0px 8px;
    border-radius: 5px;
}

.menu a {
    text-decoration: none;
    color: black;
}

#menu-toggle {
    display: none;
}

.listinha {
    display: none;
    position: absolute;
    background-color: var(--b);
    box-shadow: 0 2px 5px var(--d);
    min-width: 190px;
    z-index: 1;
    top: 100%;
    border-radius: 5px;
}

.listinha a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
}

.listinha a:hover {
    background-color: var(--c);
}

#menu-toggle:checked ~ .listinha {
    display: block;
}

#menu-toggle:checked + .botao-materias {
    background-color: white;
}



.pesquisa {
    margin-left: auto;
    margin-right: 20px;
}

.pesquisa input {
    padding: 6px;
    margin: 2px;
    border-radius: 5px;
}

body {
    background-color: var(--c);
    font-family: Arial, sans-serif;
}

li {
    list-style: none;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 200px;
}

:root {
    --a: #aa891e;
    --b: #e2931c;
    --c: #fdfdfd;
    --d: #F5EFFF;
}