:root {
    --roxo: #A294F9;
    --lilas: #CDC1FF;
    --areia-roxa: #E5D9F2;
    --roxinho: #F5EFFF;
}

header {
    display: flex;
    width: 100%;
    background-color: var(--roxo);
    padding: 1rem; 
    position: relative;
    justify-content: center;
}

.menu-materias {
    width: 15%;
    display: inline-block;
}

.botao-materias {
    cursor: pointer;
    font-size: 20px;
    background: none;
    background-color: var(--lilas);
    border: none;
    border-radius: 5px;
    padding: 15px 12px;
    color: black;
}

.menu button {
    text-decoration: none;
    background-color: #CDC1FF;
    color: black;
    font-size: 18px 8px;
    padding: 5px 10px;
    margin: 0px 8px;
    border-radius: 5px;
}

.menu a {
    text-decoration: none;
    color: black;
}

#menu-toggle {
    display: none;
}
